body {
    font-family: Georgia, serif;
}
header {
    color: white;
    text-align: center;
    padding: 20px;
}
table {
    width: 95%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}
a {
    font-size: larger;
    color: white;
    text-decoration: none;
}
a:hover {
    color: blue;
}
a:visited {
    color: white;
}
.temp {
    font-size: 120px;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.position {
    font-size: 25px;
    color: white;
    padding-top: 50px;
    margin-left: 30px;
}
.weatherList {
    font-size: 25px;
    color: white;
    margin-top: 20px;
    text-align: right;
    line-height: 55px;
}