body {
    font-family: Georgia, serif;
}
header {
    color: white;
    text-align: center;
    padding: 20px;
}
table {
    width: 95%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}
a{
    font-size: larger;
    color: white;
    text-decoration: none;
}
/*its not works*/
a:visited{
    color: white;
}
a:hover{
    color: blue;
}
.temp {
    font-size: 120px;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
}
.position {
    font-size: 25px;
    color: white;
    padding-top: 50px;
    margin-left: 30px;
}
.weatherList {
    font-size: 25px;
    color: white;
    margin-top: 20px;
    text-align: right;
    line-height: 55px;
}