.blue-header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
    background-image: url("clouds.jpg");
}
table {
    width: 95%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}
a{
    font-size: larger;
    color: white;
    text-decoration: none;
}
/*its not works*/
a:visited{
    color: white;
}
a:hover{
    color: blue;
}
.temp {
    font-size: 120px;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
}
.country {
    font-size: 35px;
    color: white;
    position: absolute;
    left: 80%;
    line-height: 15;
}
.region {
    font-size: 30px;
    color: white;
    position: absolute;
    left: 80%;
    line-height: 15;
}
.city {
    font-size: 30px;
    color: white;
    position: absolute;
    left: 80%;
    line-height: 15;
}