<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" th:href="@{styles.css}">
    <script th:src="@{code.js}"></script>
</head>
<body>
<header class="blue-header">
    <table>
        <tr>
            <td><a class="header-text" href="#">Main page</a></td>
            <td><a class="header-text" th:href="@{about.html}">About us</a></td>
        </tr>
    </table>
</header>
<p th:text="${debug}"></p>
<div>Прогноз погоды по адресу<span th:text="${CountryName}"></span>, г. <span th:text="@{cityName}"></span></div>
<div>Weather of the day today: <span th:text="${dayToday}"></span></div>
<div>Weather of the day after day: <span th:text="${dayAfterDay}"></span></div>
<div>Weather of the day after two days: <span th:text="${dayAfterTwoDays}"></span></div>
</body>
</html>