<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" th:href="@{styles.css}">
    <script th:src="@{code.js}"></script>
</head>
<body>

<div id="image" style="margin: 0; padding: 0; height: 100%;">
    <header>
        <table>
            <tr>
                <td><a class="header-text" href="#">Main page</a></td>
                <td><a class="header-text" th:href="@{about.html}">About us</a></td>
            </tr>
        </table>
    </header>
    <span class="temp" th:text="${TemperatureToday}">
    </span>
    <div class="position" th:text="${countryName}"></div>
    <div class="position" th:text="${regionName}"></div>
    <div class="position" th:text="${cityName}"></div>

    <div class="weatherList">
        <div>Weather of the day today: <span th:text="${dayToday}"></span></div>
        <div>Weather of the day after day: <span th:text="${dayAfterDay}"></span></div>
        <div>Weather of the day after two days: <span th:text="${dayAfterTwoDays}"></span></div>
    </div>

</div>
<script th:inline="javascript"
>
    var map = new Map();
    // Sky Clouds Snowflake Rain Thunderstorm Snow
    map.set('Sky', 'clearSky.jpeg');
    map.set('Clouds', 'clouds4k.jpg');
    map.set('Snowflake', 'snowy.jpg'); // or snowy2
    map.set('Rain', 'rainy.jpg');
    map.set('Thunderstorm', 'thunderstorm.jpg');
    map.set('Snow' ,'snow.jpg'); // or snowy2

    var weatherImage = map.get([[${imageName}]]);
    document.body.style.backgroundImage = 'url("' + weatherImage + '")';
    document.body.style.backgroundSize = 'cover';
    document.body.style.backgroundPosition = 'center';
</script>
</body>
</html>